.background-image {
    background-image: linear-gradient(to right, rgba(10.5, 31.5, 52.5, 1) 150px, rgba(10.5, 31.5, 52.5, 0.64) 100%),
    var(--details-background__image);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 420px;
}

.details-description {
    max-width: 670px;
}

.background-poster {
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

    & > * {
        color: white;
    }

    &__title {
        margin: 0;
    }
}

.details-movie {
    margin: 20px auto;
    width: 80vw;
    & > * {
        color: black;
    }
}

.details-nav {
    display: flex;
    gap: 20px;
    & > * {
        color: black;
    }
}

.nav-button {
    color: black;
    background: 0;
}

.details-row {
    display: flex;
    &__title {
        width: 30vw;
        min-width: 100px;
    }
}