html {
    scroll-snap-type: y mandatory;
}

section {
    block-size:  100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;

    display: grid;
    place-content: center;
}

.input-genre {
    display: block;
}