:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

}

body {
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.App {
  height: 2000px;
}
